@page "/"
@namespace KursovayaNew.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KursovayaNew</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="KursovayaNew.styles.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/BlazorInputFile/inputfile.js"></script>

    <script type = "text/javascript">
        function saveAsFile(filename, bytesBase64) {
            var link = document.createElement('a');
             link.download = filename;
             link.href = "data:application/octet-stream;base64," + bytesBase64;
             document.body.appendChild(link); 
             link.click();
             document.body.removeChild(link);
     }
</script>
</body>
</html>
